@use '@shared/assets/styles/variables.scss' as *;
@use './reset.scss' as *;

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: $color-black;
	background: $color-white;
}
