$color-white: #ffffff;
$color-black: #1c1c1c;

$color-gray-1: #f1f1f1;
$color-gray-2: #d9e1ec;
$color-gray-3: #bbbbbb;
$color-gray-4: #b0b0b0;
$color-gray-5: #8d8d8d;
$color-gray-6: #a4a4a4;

$color-red: #b93c3c;
$color-orange: #cc892a;
$color-yellow: #ffebb3;
$color-green: #a2e3a4;
$color-blue: #2d60ed;
$color-pink: #f0cdfa;

.container-1840 {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 40px;
}
