@use '@shared/assets/styles/variables.scss' as *;

.container {
	display: flex;
	gap: 40px;
}

.modal {
	padding: 15px;
	border-radius: 15px !important;

	&__label {
		font-size: 12px !important;
	}

	&__title {
		font-size: 24px !important;
		font-weight: 500 !important;
	}

	&__close {
		top: 35px !important;
		right: 35px !important;
	}

	&__select {
		max-height: 170px;
		height: 145px;
		width: 100%;
		font-size: 14px !important;
		border: 1px solid $color-gray-4 !important;
		border-radius: 8px !important;
		background-color: transparent !important;

		&::placeholder {
			color: $color-gray-4 !important;
		}

		&__priority-level {
			font-size: 12px;
			font-weight: 500;
			color: $color-black;
		}
		&__priority-addition {
			font-size: 12px;
			font-weight: 400;
			color: $color-gray-4;
		}

		&__photo-mobile-text {
			display: none;
		}

		&__photo-mobile-icon {
			display: none;
		}
	}

	&__checkbox {
		font-size: 14px !important;
	}

	&__select__photo-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		align-items: center;
		padding: 40px 0;
		width: 100%;
		font-size: 14px !important;
		font-weight: 300 !important;
		border: 1px dashed $color-gray-4;
		border-radius: 8px !important;
		background-color: transparent !important;
	}

	&__footer {
		display: flex;
		margin-right: auto;
		gap: 16px;

		&__create-btn {
			padding: 8px 16px;
			color: $color-white;
			border-radius: 5px;
			background-color: $color-black;
		}

		&__cancel-btn {
			padding: 8px 16px;
			border: 1px solid $color-black;
			border-radius: 5px;
		}
	}
}

@media (max-width: 820px) {
	.container {
		flex-direction: column;
	}

	.chakra-modal__content {
		width: 100vw !important;
		height: 100vh !important;
		max-width: 100vw !important;
		max-height: 100vh !important;
		margin: 0 !important;
		border-radius: 0 !important;
		overflow-y: auto !important;
	}
}

@media (max-width: 455px) {
	.modal__select {
		&__priority-addition {
			display: none;
		}

		&__photo-btn {
			flex-direction: row;
			margin-bottom: auto;
			padding: 14px 0;
			background-color: $color-gray-1 !important;
			border: none;
		}

		&__photo-mobile-text {
			display: block;
		}

		&__photo-mobile-icon {
			display: block;
		}

		&__photo-desktop-icon {
			display: none;
		}

		&__photo-desktop-text {
			display: none;
		}
	}

	.modal__footer {
		flex-direction: column;
		width: 100%;

		&__create-btn {
			padding: 14px 0;
			width: 100%;
			background-color: $color-gray-5;
		}

		&__cancel-btn {
			display: none;
		}
	}

	.label-input-img {
		display: none !important;
	}
}
